/* ==========================================================================
	Custom styles
	========================================================================== */

/* Reset some styling on tags - START */

body,
html {
	min-height: 100%;
	height: 100%;
}

body {
	background-color: #f8f7f5;
	font-family: "PT Sans", sans-serif;
	font-size: 1em;
}

input {
	font-weight: 700;
}

label {
	color: #372a1c;
	margin-bottom: .1em;
	width: 100%;
}

footer {
	bottom: 0;
	padding: 1.5em 0 0;
}

.popover-body h1,
.popover-body h2,
.popover-body h3,
.popover-body h4,
.popover-body h5,
.popover-body h6,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.modal-title,
.modal-body {
	margin: inherit !important;
}

.modal-body p {
	margin-bottom: .5rem;
}

h1,
.h1 {
	font-size: 2.4rem;
}

h2,
.h2 {
	font-size: 2rem;
}

h3,
.h3 {
	font-size: 1.6rem;
}

h4,
.h4 {
	font-size: 1.4rem;
}

h5,
.h5 {
	font-size: 1.2rem;
}

h6,
.h6 {
	font-size: 1.1rem;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
	/* IE10+ specific styles go here */
	/* body {
		background-color: #00615e;
	} */
}

/* Reset some styling on tags - STOP */

/* WCAG - START */

.form-control input-placeholder,
::-webkit-input-placeholder {
	color: #a2958a;
	font-style: italic;
	font-weight: 400;
	opacity: .75;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

/* Chrome <=56, Safari < 10 */

:-moz-placeholder {
	font-weight: 400;
	color: #a2958a;
	opacity: .75;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}

/* FF 4-18 */

::-moz-placeholder {
	font-weight: 400;
	color: #a2958a;
	opacity: .75;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}

/* FF 19-51 */

:-ms-input-placeholder {
	font-weight: 400;
	color: #a2958a;
	opacity: .75;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

/* IE 10+ */

::placeholder {
	font-weight: 400;
	color: #a2958a;
	opacity: .75;
	transition: opacity .5s;
}

/* Modern Browsers */

*:focus::-webkit-input-placeholder {
	opacity: 0;
}

/* Chrome <=56, Safari < 10 */

*:focus:-moz-placeholder {
	opacity: 0;
}

/* FF 4-18 */

*:focus::-moz-placeholder {
	opacity: 0;
}

/* FF 19-50 */

*:focus:-ms-input-placeholder {
	opacity: 0;
}

/* IE 10+ */

*:focus::placeholder {
	opacity: 0;
}

/* Modern Browsers */

/* IE 10+ */

.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, .75);
	border-color: rgba(255, 255, 255, .25);
}

/* WCAG - STOP */

/* Miscellaneous - START */

.left-nav a,
footer a,
section[role="main"] a,
.breadcrumb-item>a {
	color: #00615e;
	text-decoration: underline;
}

footer a:hover,
section[role="main"] a:hover {
	color: #000;
	text-decoration: none;
}

.bg-warning {
	background-color: #fecb7f !important;
}

.tree-view .bg-warning {
	margin: .5em .3em !important;
}

.tree-view .bg-warning .fa-user {
	color: #ffe9d5;
}

.tree-view .bg-warning .number-of-objects {
	background-color: #ffe9d5;
	color: #898279;
}

.hsa-bg-007d7b {
	background-color: #007d7b;
}

.hsa-color-007d7b {
	color: #007d7b;
}

.hsa-bg-f1edea {
	background-color: #f1edea;
}

.hsa-bg-dcd9d6 {
	background-color: #dcd9d6;
}

.main-content-full-height {
	display: block;
	min-height: calc(100vh - 8em);
}

.main-content-full-width #main-content-wrapper {
	margin: 0 auto;
}

.main-content-full-width #main-content-wrapper.col-xl-8 {
	width: inherit;
	max-width: 100%;
}

.footer-global-logo .logo-img {
	background-image: url(../images/inera-logo--79x48px.svg);
	background-repeat: no-repeat;
	height: 100%;
	min-height: 70px;
	width: 100%;
	color: transparent;
	font: 0px a;
	margin-left: -7px;
}

.footer-global-content {
	line-height: 1.5
}

.menu-icon {
	width: 20px;
	height: 20px;
}

.fine {
	font-size: 14px;
	font-size: .8em;
	font-style: italic;
}

p.fine {
	margin-bottom: .5rem;
}

.menu-icon {
	display: inline-block;
}

.heading-small {
	color: #372a1c;
	font-size: 12px;
	font-size: .75em;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.3;
	padding: 0 0 .8em;
	text-transform: uppercase;
}

.sub-heading {
	color: #372a1c;
	font-size: 1.25em;
	font-weight: 700;
}

/* Miscellaneous - STOP */

/*
 * Content - START
 */

.color-danger {
	color: #dc3545;
}

#main-content-wrapper {
	min-height: calc(100vh - 80px);
	/* min-height: 100vh; */
	/* Space for fixed navbar */
	padding: 2em 1.25em 1em;
}

#main-content-wrapper,
#top-nav-wrapper {
	/* Column-width (xs,sm,md,lg,xl) over-ride 'width' in this case */
	width: 1280px;
}

#cookie-alert-wrapper {
	max-width: 1280px;
}

section[role="main"] {
	clear: both;
	min-height: calc(100vh - 250px);
	padding: 1em 0;
}

section[role="main"]#wrapper-simple-search {
	max-width: 50em;
	margin: 0 auto;
}

#wrapper-error-page {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		transparent url(../images/error-p05vbpvnr3s-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

#wrapper-logged-out-page {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.65)),
		transparent url(../images/exit-wxny6cmyu-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

#wrapper-error-page .logo-img,
#wrapper-logged-out-page .logo-img {
	background-image: url(../images/inera-logo-white--79x48px.svg);
}

#wrapper-error-page h1,
#wrapper-logged-out-page h1,
#wrapper-error-page h2,
#wrapper-logged-out-page h2,
#wrapper-error-page h3,
#wrapper-logged-out-page h3,
#wrapper-error-page h4,
#wrapper-logged-out-page h4,
#wrapper-error-page h5,
#wrapper-logged-out-page h5,
#wrapper-error-page h6,
#wrapper-logged-out-page h6,
#wrapper-error-page p,
#wrapper-logged-out-page p,
#wrapper-error-page a,
#wrapper-logged-out-page a {
	color: #fff;
}

#wrapper-error-page .modal-content h1,
#wrapper-logged-out-page .modal-content h1,
#wrapper-error-page .modal-content h2,
#wrapper-logged-out-page .modal-content h2,
#wrapper-error-page .modal-content h3,
#wrapper-logged-out-page .modal-content h3,
#wrapper-error-page .modal-content h4,
#wrapper-logged-out-page .modal-content h4,
#wrapper-error-page .modal-content h5,
#wrapper-logged-out-page .modal-content h5,
#wrapper-error-page .modal-content h6,
#wrapper-logged-out-page .modal-content h6,
#wrapper-error-page .modal-content p,
#wrapper-logged-out-page .modal-content p,
#wrapper-error-page .modal-content a,
#wrapper-logged-out-page .modal-content a {
	color: #212529;
}

#wrapper-error-page .modal-content a {
	color: #00615e;
}

.has-breadcrumb section[role="main"] {
	min-height: calc(100vh - 100px);
}

.has-cookie-alert section[role="main"] {
	min-height: calc(100vh - 330px);
}

.filter-search-within-org {
	display: inline-block;
}

.filter-search-within-org.filter-changed>.select2-selection__clear {
	display: none;
}

/* .filter-search-within-org.filter-changed {
	background-color: #f1edea;
	border: 1px solid #ced4da;
	border-radius: .3rem;
	padding: .25em .75em;
	cursor: pointer;
} */

.filter-search-wrapper>span {
	/* background: #dcd9d6;
	color: #212529;
	margin: 0 .25em;
	padding: 0 .5em; */
	display: block;
	line-height: 1.25;
	white-space: nowrap;
	/* 	border-right: 1px solid #ced4da; */
}

.filter-search-wrapper>span:before {
	content: '✓ ';
}

ul.checked-list {
	list-style: none;
	padding-inline-start: 0;
}

ul.checked-list li {
	padding: 0 0 .25em 0;
}

ul.checked-list li:before {
	content: '✓ ';
}

/*
.filter-search-categories #c1 {
	padding: 0 .5em 0 0;
}
*/

/*
.filter-search-wrapper span:last-child {
	border: none;
}
*/

/*
 * Content - STOP
 */

/*
 * Top Navbar - START
 */

.sidebar-left-toggle {
	cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
	background-color: #007d7b;
	border-radius: .5rem;
	/* color: hsla(0, 0%, 100%, .95); Not WCAG complitant */
	color: #f8f7f5;
	font-size: 1.25em;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.navbar.fixed-top,
.navbar.sticky-top {
	height: 80px;
}

.navbar-brand {
	/* background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
	font-size: 1em;
	margin: 0 5px 10px;
}

.navbar-dark .navbar-nav .nav-link.active {
	background-color: #00615e;
	border: 1px solid #56a3a2;
	box-shadow: inset 0 0 6em rgba(0, 0, 0, .2);
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
	text-shadow: 0 0 1em hsla(0, 0%, 100%, .75);
}

.navbar-dark button:focus,
.navbar-dark button:active {
	/* outline: none !important;
	box-shadow: none; */
	outline-color: #ced4da;
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.navbar-collapse {
	z-index: 1;
}

.nav-link>.menu-icon {
	opacity: .5;
	margin: 0 -.5em 0 0;
}

.nav-link>.menu-icon:hover {
	opacity: 1;
}

.user-display-name {
	font-size: .75em;
	text-transform: uppercase;
}

.alert {
	padding: .75rem .75rem .75rem 1.25rem;
}

.alert-in-nav {
	position: relative;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.alert-in-nav:hover {
	font-size: 1.25em;
	margin: -0.5em 0 0 0;
}

.alert-icon {
	color: #fecb7f;
	font-size: 2.5em;
	position: absolute;
	transform: rotate(20deg);
}

.alert-number {
	background-color: #00615e;
	border-radius: 1em;
	border: 2px solid #fecb7f;
	color: #fecb7f;
	font-size: 1em;
	font-weight: 700;
	height: 1.75em;
	left: 1em;
	position: absolute;
	text-align: center;
	top: .5em;
	width: 1.75em;
}

.alert-warning {
	color: #212529;
	background-color: #ffe9d5;
	border-color: #fecb7f;
}

/*
 * Top Navbar - STOP
 */

/*
 * Sidebar - START
 */

.sidebar-left-toggle>.toggle-sidebar {
	margin-top: 40vh;
	height: 60px;
	width: 30px;
	display: block;
}

.sidebar-left-toggle>.toggle-sidebar.opened {
	background: url("../images/push-menu-left-aqua.png") no-repeat center;
}

.sidebar-left-toggle>.toggle-sidebar.closed {
	background: url("../images/push-menu-right-aqua.png") no-repeat center;
}

.dropdown-toggle::after {
	color: #898279;
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: rotate(270deg);
}

.dropdown-toggle[aria-expanded="true"]::after {
	transform: rotate(0);
}

#sidebar-left {
	min-width: 18em;
	max-width: 18em;
	transition: all .3s;
	z-index: 1;
}

#sidebar-left a.dropdown-toggle[aria-expanded="true"] {
	border-bottom: none;
	left: -1px;
}

/* Set initial view to hidden - START */

#sidebar-left {
	margin-left: -18em;
	/* outline: 5px solid #007d7b; */
	box-shadow: 0 0 0 5px #007d7b;
}

#sidebar-left.active {
	margin-left: 0;
}

/* ...but administrator view has a visible sidebar */

#wrapper-manage #sidebar-left.active {
	margin-left: 0;
}

.topnav-outside-viewport #sidebar-left,
.topnav-outside-viewport .sidebar-border {
	top: 0;
	height: 100vh;
}

/* Set initial view to hidden - START */

#sidebar-left ul.components {
	padding: 2em 0;
}

#sidebar-left ul p {
	color: #fff;
	padding: 1em;
}

#sidebar-left .toast-body>p {
	color: inherit;
	padding: 0;
}

#sidebar-left ul li a {
	display: block;
	font-size: 1.1em;
	padding: .75em .5em .75em 1.5em;
	border-top: 1px solid #a2958a;
}

#sidebar-left>ul>li:last-child>a {
	border-top: 1px solid #a2958a;
	border-bottom: 1px solid #898279;
}

#sidebar-left ul ul a,
#filter-submenu {
	background-color: #f1edea;
	font-size: 1em;
}

#sidebar-left ul li a:hover {
	background-color: #fff;
	color: #898279;
}

#sidebar-left ul li.active>a,
#sidebar-left a[aria-expanded="true"] {
	background-color: #f8f7f5;
	color: #372a1c;
	font-weight: 700;
}

#sidebar-left a[data-toggle="collapse"] {
	position: relative;
}

#sidebar-left a {
	color: #333;
	font-weight: 400;
}

#sidebar-left a .menu-icon {
	color: #a2958a;
	margin-right: 10px;
}

#sidebar-left a .external-link {
	color: #a2958a;
}

#sidebar-left a.active,
#sidebar-left a.active:focus {
	background-color: #f5f5f5;
	color: #00615e;
}

#sidebar-left a.active .menu-icon,
#sidebar-left a:hover,
#sidebar-left a:hover .menu-icon {
	color: inherit;
}

.sidebar-sticky {
	position: sticky;
	top: 0;
	height: calc(100vh - 80px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

.sidebar-heading {
	font-size: .75em;
	text-transform: uppercase;
}

.sidebar-border {
	width: 0;
	position: fixed;
	z-index: 1;
}

.sidebar-border.active {
	position: relative;
}

#filter-submenu {
	padding: 1em;
}

#filter-submenu i,
.setup-content i {
	color: #a2958a;
	padding: 0 .25em;
}

/*
 * Sidebar - STOP
 */

/*
 * Browse / treeview - START
 */

.tree-view {
	margin: 0 0 0 -1.9em;
}

.tree-view i {
	margin: 0 .25em;
}

.tree-view .has-children>i {
	color: #a2958a;
}

.tree-view .has-children>i .fa-caret-right,
.tree-view .has-children>i .fa-chevron-down {
	font-size: 1.25em;
	margin: .2em 0 0 .15em;
	width: 1em;
}

.tree-view .fa-cubes,
.tree-view .fa-user {
	color: #aad1d0;
	font-size: 1em;
}

.tree-view li {
	cursor: pointer;
	list-style-type: none;
	margin: .35em 0 auto -1.5em;
}

.tree-view>li:hover {
	background-color: #fff;
	padding: .35em 1em .5em 0;
	margin: 0 -1em auto -1.5em;
}

.tree-view li+li {
	border-left: 1px dotted #dcd9d6;
}

.tree-view>li+li {
	border-left: transparent;
}

.tree-view>li {
	border-bottom: 1px dotted #dcd9d6;
	padding: 0 0 .5em;
}

.tree-view li>ul {
	display: none;
	margin: .5em 0 auto -2.8em;
}

.tree-view ul>li {
	margin: 0 0 auto 1.5em;
	padding: .4em 0 .5em;
}

.tree-view li.has-no-child {
	border-bottom: 1px solid #dcd9d6;
	margin: 0 0 0 1.5em;
	padding: .5em 0 .5em .8em;
}

.tree-view h1,
.tree-view h2,
.tree-view h3,
.tree-view h4,
.tree-view h5,
.tree-view h6 {
	display: inline;
	margin: 0 1em 0 0;
}

.cat-level-1 h2 {
	font-size: 1.2rem
}

.attributes-detail-view {
	color: #00615e;
}

.attributes-detail-view i {
	width: .75em;
}

.attributes-quick-view {
	background-color: #fff;
	border-radius: 1em;
	border: 1px dotted #56a3a2;
	color: #00615e;
	float: none;
	margin: auto 1em;
	padding: .15em .75em .2em .4em;
	text-decoration: underline;
}

.attributes-quick-view:hover,
.attributes-detail-view:hover {
	color: #56a3a2;
	text-decoration: none;
}

.attributes-quick-view i,
.attributes-detail-view i {
	color: #56a3a2;
	padding: .2em .5em;
}

.go-to-browse {
	color: #00615e;
	text-decoration: underline;
}

.number-of-objects {
	background-color: #56a3a2;
	border-radius: 1.5em;
	color: #fff;
	float: right;
	font-weight: 700;
	font-size: .8em;
	margin: 0 .5rem 0 .75rem;
	padding: .25em 1em;
}

#left-nav-item-03 .number-of-objects {
	border-radius: 1rem;
	float: right;
	font-size: .7em;
	margin: 1rem .5rem 0 .2rem;
	padding: .15rem .5rem;
}

#expand-all-branches i,
#collapse-all-branches i {
	color: #56a3a2;
	padding: 0 .6em 0 0;
}

/* .obj_name {
	font-weight: 700;
} */

.obj_name {
	pointer-events: none;
	display: inline-block !important;
}

h3.obj_name {
	font-size: 1.25em;
}

.short-view-row {
	padding: 0 0 .5em 0;
}

.short-view-name {
	padding: 0 .25em 0 0;
}

.short-view-value {
	font-weight: 700;
}

.attributes-short-view>i,
#edit-detail-view>i,
#expand-full-detail-view>i,
#create-object-here>i,
.short-view-edit {
	font-size: 1em;
	color: #56a3a2;
	padding: 0 .25em 0 0;
}

#expand-full-detail-view>i,
#edit-detail-view>i {
	font-size: 1em;
}

.short-view-edit:hover,
#short-view-modal a.short-view-edit:hover {
	color: #495057;
	cursor: pointer;
}

#short-view-modal .modal-title {
	font-weight: 700;
}

#short-view-modal a {
	color: #00615e;
	text-decoration: underline;
}

#short-view-modal a:hover {
	text-decoration: none;
}

.click2search-form {
	margin: -.3em 0 0;
}

.click2search-form .input-group-text {
	background-color: #f1edea;
}

.click2search-form .input-group-text:hover {
	background-color: #fff;
}

/*
 * Browse / treeview - STOP
 */

/*
 * Control view - START
 */

.dataTables_wrapper.dt-bootstrap4 .col-sm-12.col-md-6:last-child .dataTables_filter {
	float: right;
}

/*
 * Control view - STOP
 */

/*
 * Detail view - START
 */

#wrapper-detail-view h1,
#wrapper-detail-view h2,
#wrapper-detail-view h3,
#wrapper-detail-view h4,
#wrapper-detail-view h5,
#wrapper-detail-view h6 {
	margin: 2rem 0 1rem;
}

.no-space-padding {
	margin: -1rem;
	padding: 1rem !important;
}

.container-fluid.no-gutters.no-space-padding {
	width: calc(100% + 2rem) !important;
}

.zig-zag {
	background: linear-gradient(135deg, #e9ecef 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, #e9ecef 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, #e9ecef 25%, transparent 25%),
		linear-gradient(45deg, #e9ecef 25%, transparent 25%);
	background-size: 100px 100px;
	background-color: #f1edea;
}

.plastic-card {
	background: #CC95C0;
	/* fallback for old browsers */
	background-image: linear-gradient(to right bottom, #e9e9e9, #f2e8ee, #ffe7e6, #ffe9d5, #f4f2cc);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 1.5rem;
	box-shadow: .5rem .5rem 1rem #dcd9d6;
	font-family: 'B612 Mono', monospace;
	letter-spacing: .1em;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.card.plastic-card {
	min-height: 22rem;
}

.plastic-card .card-text {
	padding: 0 0 1em;
}

.plastic-card p.small {
	margin: 0;
}

.toggle-card-details {
	font-style: italic;
	letter-spacing: 0;
}

.card-chip {
	border: 3px solid #ced4da;
	border-radius: 1rem;
	height: 4rem;
	width: 6rem;
}

.card-chip>i {
	color: #ced4da;
	display: inline-block;
	font-size: 2.5rem;
	-webkit-transform: scale(1, .5);
	/* Safari and Chrome */
	-moz-transform: scale(1, .5);
	/* Firefox */
	-ms-transform: scale(1, .5);
	/* IE 9 */
	-o-transform: scale(1, .5);
	/* Opera */
	transform: scale(1, .5);
	/* W3C */
	margin: 0 -1.6rem 0 1.6rem;
}

.preview-card {
	line-height: 1.25;
}

.preview-card hr {
	margin: .5rem 0;
}

#full-detail-view .card-text>hr,
.preview-card .card-text>hr {
	margin: .25em 0;
}

#full-detail-view .card-body,
.preview-card .card-body {
	padding: .5em .75em;
	float: left;
}

#full-detail-view .card,
.preview-card.card {
	margin: 0 .25em .25em 0;
}

.preview-card .card-title {
	/* float: left;
	font-style: italic; */
	margin: .25em 0;
	padding: 0 .5em .5em 0;
}

.attributes-short-view {
	border: 1px solid #e9ecef;
	background-color: #faf9f9;
	border-radius: .3rem;
	color: #372a1c;
	margin: .5rem 0 .4rem auto;
	padding: .4rem .2rem;
}

#browse-02 .attributes-short-view {
	border: 1px solid #ced4da;
	background-color: #f1edea;
}

#browse-03 .attributes-short-view {
	background-color: inherit;
	border: none;
}

#full-detail-view {
	margin: 1em 0;
}

#full-detail-view h1,
#full-detail-view h2,
#full-detail-view h3,
#full-detail-view h4,
#full-detail-view h5,
#full-detail-view h6 {
	display: block;
	font-size: inherit;
	margin: .5em 0 .75em;
}

#full-detail-view h1 {
	font-size: 1.6rem;
}

#full-detail-view h2 {
	font-size: 1.5rem;
}

#full-detail-view h3 {
	font-size: 1.4rem;
}

#full-detail-view h4 {
	font-size: 1.3rem;
}

#full-detail-view h5 {
	font-size: 1.2rem;
}

#full-detail-view h6 {
	font-size: 1.1rem;
}

/*
.preview-card .card-title::after {
	content: ": ";
}
*/

/*
 * Detail view - STOP
 */

/*
 * Tabs - START
 */

.nav-link.active {
	font-weight: 700;
	text-decoration: none;
	cursor: inherit;
}

.tab-pane.active {
	/* background-color: #fafafa;
	border: 1px solid #dee2e6; */
	border-top: 1px solid transparent;
	padding: 0;
}

#result-1-section,
#result-2-section,
#result-3-section {
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
}

.no-content {
	opacity: .5;
	filter: grayscale(100%);
}

.no-content a {
	text-decoration: none;
	cursor: default;
}

.no-content a:hover {
	color: inherit;
}

.result-1-tab>a>.category-icon,
.result-2-tab>a>.category-icon,
.result-3-tab>a>.category-icon,
.browse-1-tab>a>.category-icon,
.browse-2-tab>a>.category-icon,
.browse-3-tab>a>.category-icon {
	background-color: #a2958a;
	border-radius: 1.5em;
	color: #f1edea;
	display: inline-block;
	margin: 0 .4em 0 0;
	text-align: center;
	width: 1.5em;
}

#browse-result-list {
	margin: auto auto auto -1em;
}

.result-1-tab>a.nav-link.active,
.result-1-tab>a.nav-link.active>.result-section-number,
.result-2-tab>a.nav-link.active,
.result-2-tab>a.nav-link.active>.result-section-number,
.result-3-tab>a.nav-link.active,
.result-3-tab>a.nav-link.active>.result-section-number {
	text-decoration: none;
}

a>.result-section-number {
	text-decoration: underline #f8f7f5;
	font-weight: 400;
}

.result-title-float-left {
	float: left;
	margin: -.1em 0 .1em 1em;
}

.b:after {
	content: " ]"
}

.b:before {
	content: "[ "
}

.delete-link,
.delete-btn,
.delete-btn>i {
	color: #dc3545 !important;
}

.delete-link.disabled,
.delete-btn.disabled,
.delete-btn.disabled>i {
	color: #898279 !important;
}

.view-link>i,
.edit-link>i,
.delete-link>i {
	margin: 0 .5rem 0 0;
}

.click2search-link {
	line-height: 2em;
	;
}

/*
 * Tabs - STOP
 */

/*
 * Search results - START
 */

.result-item {
	background-color: #f1edea;
	cursor: pointer;
	display: block;
	padding: .75em 1em .25em;
	text-decoration: none !important;
}

.result-item:nth-child(odd) {
	background-color: #f5f5f5;
}

.result-item:hover,
.result-item:nth-child(odd):hover {
	background-color: #fff;
}

.result-item>.path-to-item {
	clear: both;
	color: #212529;
	font-style: italic;
}

.result-item .has-mail-address {
	color: #56a3a2;
	opacity: .5;
	padding: 0 .75em;
}

.result-item .has-mail-address:hover {
	color: #495057;
	opacity: 1;
}

/* Pagination - START */

.page-link {
	color: #00615e;
	background-color: #fff;
	border: 1px solid #e9ecef;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff !important;
	background-color: #00615e;
	border-color: #56a3a2;
}

/* Pagination - STOP */

/*
 * Search results - STOP
 */

.detail-search .form-row {
	padding-bottom: 1em;
	margin: 0;
}

.detail-search .col {
	padding-right: 1em;
}

.text-muted {
	color: #52443a !important;
}

/*
 * Forms - START
 */

.form-valid {
	opacity: .5;
}

.form-control-label abbr {
	text-decoration: none;
	font-weight: normal;
}

.has-definition {
	float: left;
}

.has-definition::before {
	border: 1px solid #56a3a2;
	border-radius: 50%;
	background-color: #007d7b;
	color: #fff;
	content: "i";
	cursor: pointer;
	font-size: 1.25em;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
	height: 1em;
	line-height: 1em;
	margin: .1em auto 0;
	padding: .25em;
	position: absolute;
	right: 1.65rem;
	-webkit-transform: scale(1);
	/* Safari and Chrome */
	-moz-transform: scale(1);
	/* Firefox */
	-ms-transform: scale(1);
	/* IE 9 */
	-o-transform: scale(1);
	/* Opera */
	transform: scale(1);
	/* W3C */
	padding: 0;
	text-indent: .175em;
	width: 1em;
}

.has-definition.arrow-icon::before {
	background-color: transparent;
	border: 1px solid #f2e8ee;
	border-radius: 0;
	color: #a2958a;
	content: "\25bc";
	margin: -.25em 0 0;
	-webkit-transform: scale(1, .5);
	-moz-transform: scale(1, .5);
	-ms-transform: scale(1, .5);
	-o-transform: scale(1, .5);
	transform: scale(1, .5);
}

.has-definition:hover::before {
	background-color: #495057;
}

.has-definition:hover.arrow-icon::before {
	background-color: #fff;
}

.has-definition.expanded::before {
	-webkit-transform: scale(1) rotate(30deg);
	/* Safari and Chrome */
	-moz-transform: scale(1) rotate(30deg);
	/* Firefox */
	-ms-transform: scale(1) rotate(30deg);
	/* IE 9 */
	-o-transform: scale(1) rotate(30deg);
	/* Opera */
	transform: scale(1) rotate(30deg);
	/* W3C */
}

.has-definition.arrow-icon.expanded::before {
	-webkit-transform: scale(1, .5) rotate(180deg);
	-moz-transform: scale(1, .5) rotate(180deg);
	-ms-transform: scale(1, .5) rotate(180deg);
	-o-transform: scale(1, .5) rotate(180deg);
	transform: scale(1, .5) rotate(180deg);
}

legend.h3 {
	font-size: 1rem;
	font-weight: 700;
}

.confidential-icon,
.disabled-icon,
.edit-icon {
	color: #ced4da;
	float: right;
	padding: 0 .5em;
	pointer-events: none;
	position: relative;
	top: -2em;
}

.confidential-icon.confidential-link-icon {
	float: inherit;
	top: inherit;
}

.disabled-icon {
	height: 0;
}

.confidential-icon,
.edit-icon {
	color: #007d7b;
}

.color-a2958a {
	color: #ced4da;
}

.square-a2958a {
	width: 1rem;
	height: 1rem;
	margin: 0 .2rem 0 0;
	background: #ced4da;
	display: inline-block;
}

.form-control-dark {
	color: #fff;
	background-color: hsla(0, 0%, 100%, .1);
	border-color: hsla(0, 0%, 100%, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px hsla(0, 0%, 100%, .25);
}

.table-hover tbody tr:hover {
	background-color: rgba(255, 255, 255, .5) !important;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}

.omnibox {
	/* border: 2px solid #dcd9d6; */
	border-radius: .5rem;
	box-shadow: .25rem .25rem .5rem #dcd9d6;
}

.omnibox>.btn-group>a {
	text-decoration: none;
}

.omnibox>.btn-group>a:hover {
	background-color: #fafafa;
}

.omnibox>.btn-group>.btn-secondary {
	border-width: 1px;
}

.omnibox input[type="search"] {
	padding: 0 1.25em;
	height: calc(2.875rem + 2px);
}

.omnibox .btn {
	height: calc(2.875rem + 2px);
	display: inline-block;
}

.omnibox .toggle-sidebar.toggle-filters>i {
	display: block;
	padding: .4em 0 0;
}

.omnibox-btn i {
	padding: 0 0 0 .25em;
}

.input-group-prepend .btn,
.after-add-input-group.input-group>.form-control:not(:last-child) {
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

button.btn-default,
button.btn-default,
button.btn-primary,
button.omnibox-btn {
	background-color: #644e37;
	border-color: #898279;
	box-shadow: inset .5em .5em 1em rgba(0, 0, 0, .2);
	color: #fff;
	text-shadow: .1em .1em .5em #372a1c;
}

a.btn-default,
a.btn-default,
a.btn-primary,
a.omnibox-btn {
	background-color: #00615e;
	border-color: #007d7b;
	box-shadow: inset .5em .5em 1em rgba(0, 0, 0, .2);
	color: #fff !important;
	text-shadow: .1em .1em .5em #56a3a2;
}

.btn-primary:hover,
.btn-default:hover,
.omnibox-btn:hover {
	color: #fff;
	background-color: #00615e;
	border-color: #007d7b;
}

.btn-secondary:hover {
	color: #212529;
	background-color: #fafafa;
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #898279;
	border-color: #a2958a;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #56a3a2;
	border-color: #aad1d0;
}

/*
.btn-default:hover,
.omnibox-btn:hover {
	background-color: #372b1d;
	color: #fff;
}
*/

.input-group-append .btn {
	border-width: 1px;
}

.input-group>.input-group-append>.btn {
	border-top-right-radius: .25rem !important;
	border-bottom-right-radius: .25rem !important;
}

.datetimepicker {
	padding: .375rem .75rem;
}

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
	background-color: #00615e;
	border-radius: 0;
	color: #fff;
}

.bootstrap-datetimepicker-widget td {
	cursor: pointer;
}

/*
 * Forms - STOP
 */

/*
 * Modals, disclaimers etc. - START
 */

.close {
	font-size: 2.5rem;
	line-height: .5;
	padding: .3em;
	margin: -.5em -.5em auto auto;
}

.toast-header {
	padding: 0 .75em;
	margin: -.5em 0 auto auto;
}

.toast-header>.close {
	margin: 0 -.6em auto auto;
}

button.close {
	padding: .3em;
}

.definition-bubble {
	position: relative;
	padding: 1rem;
	margin: .5rem 0 1rem;
	background-color: #ffeacc;
	border: 1px solid #fecb7f;
}

.definition-bubble:before,
.definition-bubble:after {
	content: "\0020";
	display: block;
	position: absolute;
	top: -.5rem;
	right: 1rem;
	z-index: 2;
	width: 0;
	height: 0;
	overflow: hidden;
	border: solid .5em transparent;
	border-bottom-color: #ffeacc;
	border-top: 0;
}

.definition-bubble:before {
	top: calc(-.5em - 1px);
	z-index: 1;
	border-bottom-color: #fecb7f;
}

.dialog-default,
.dialog-default>.card {
	background-color: #ffeacc;
}

.dialog-header .close {
	float: right;
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
	text-decoration: none;
}

.dialog-header>h1,
.dialog-header>h2,
.dialog-header>h3,
.dialog-header>h4,
.dialog-header>h5 {
	float: left;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR - START
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
	margin: .5rem;
	position: fixed;
	width: 320px;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left.bottom .modal-dialog,
.modal.right.bottom .modal-dialog {
	bottom: 0;
	vertical-align: bottom;
}

.modal.left .modal-header,
.modal.right .modal-header {
	border-bottom: 1px solid #fff;
}

.modal.left .modal-body,
.modal.right .modal-body,
.modal.left .modal-header,
.modal.right .modal-header {
	background: #ffe3ff;
	padding: .5rem 1rem;
}

/*Left*/
.modal.left.fade .modal-dialog {
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
	left: 0;
}

.modal.left.fade.in .modal-dialog {
	left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
	right: 0;
}

.modal.right.fade.in .modal-dialog {
	right: 0;
}

/*
MODAL AS LEFT/RIGHT SIDEBAR - STOP
*/

.modal-max-700px {
	max-width: 700px;
}

.modal-80-percent {
	max-width: 80%;
}


.toast {
	padding: .75rem 1rem;
}

.toast-max-700px .toast {
	max-width: 700px;
}

/*
 * Modals, disclaimers etc. - STOP
 */

/* Override more Bootstrap styles - START */

input[type="file"] {
	font-weight: 400;
}

.form-control-file {
	height: 2.4em;
}

.container.no-gutters,
.container-fluid.no-gutters {
	padding: 0;
}

.text-primary {
	color: #56a3a2 !important;
}

.btn {
	border-color: #e9ecef;
	border-radius: .5rem;
	border-width: 1px;
	font-weight: 700;
	text-transform: uppercase;
}

.btn:not(.btn-lg):not(.btn-md):not(.btn-sm) {
	padding: .375rem 1rem;
}

.btn-group-sm>.btn,
.btn-sm {
	padding: 0 .5rem;
}

.btn[type="submit"] {
	padding: .375rem 1.5rem;
}

.btn i,
.btn-secondary i {
	color: #a2958a;
}

.btn-lg {
	font-size: inherit;
	line-height: 2;
}

.btn-info {
	background-color: #007d7b;
	border-color: #007d7b;
}

.btn-success:hover {
	background-color: #00615e;
	border-color: #56a3a2;
}

.btn-success:hover i {
	color: #56a3a2;
}

.btn-primary,
.btn-secondary,
.btn-outline-secondary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-dark,
.btn-default {
	border-width: .2rem;
}

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #e4606d;
}

.btn-info.focus,
.btn-info:focus {
	box-shadow: 0 0 0 .2rem #007d7b;
}

.btn-primary {
	border-color: #56a3a2;
}

.btn-secondary {
	background-color: #f8f7f5;
	border-color: #dcd9d6;
	box-shadow: none;
	color: #372b1d;
	text-decoration: none;
	text-shadow: none;
}

.btn-circle {
	width: 3rem;
	height: 3rem;
	text-align: center;
	padding: 1.5rem 0;
	border-radius: 50%;
}

.stepwizard-step .btn-secondary {
	font-size: 1.5em;
	text-decoration: none;
	padding: .1em .5em !important;
}

.btn-secondary:hover,
a.btn-secondary:hover,
.btn-outline-secondary:hover {
	background-color: #e9e9e9;
}

.btn.dropdown-toggle {
	background-color: #f8f7f5;
	border-color: #ced4da;
	border-radius: .3rem;
	box-shadow: inherit;
	color: #372a1c;
	line-height: 1.65;
	text-shadow: inherit;
	text-transform: inherit;
}

.bootstrap-datetimepicker-widget .btn {
	background-color: inherit;
	border-radius: inherit;
	box-shadow: none;
	color: inherit;
	font-weight: inherit;
	padding: inherit;
	text-shadow: inherit;
	text-transform: inherit;
}

.bootstrap-datetimepicker-widget a {
	/* color: #e9ecef !important; */
	text-decoration: inherit;
}

.form-control.temporary-enabled {
	background-color: #e9ecef;
	opacity: 1;
}

.disabled.btn.dropdown-toggle {
	background-color: #e9ecef;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #00615e;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active {
	color: #52443a;
	font-weight: 400;
}

.close,
section[role="main"] a.close {
	color: #212529;
	text-decoration: none;
}

.cookiealert {
	padding: .75rem 1.25rem;
}

.cookiealert a {
	color: #56a3a2;
}

.form-control {
	background-color: #fafafa;
	color: inherit;
}

.form-check-input {
	position: relative;
}

.form-control:focus {
	border-color: #56a3a2;
	box-shadow: 0 0 0 .2rem #d4e8e7;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
	background-image: inherit;
}

.breadcrumb {
	padding: .5rem 1rem;
	margin-bottom: .75rem;
	background-color: #f1edea;
}

.breadcrumb.no-gutters {
	margin: 0 -1rem .75rem;
}

.breadcrumb-item {
	/* color: #00615e; */
	font-style: italic;
}

.breadcrumb-item>a {
	font-weight: 700;
	text-decoration: none;
}

/* Override more Bootstrap styles - STOP */

/* Popper styling - START */

.popover {
	white-space: pre-wrap;
}

.popover-body,
.popover-header {
	color: #372a1c;
	background-color: #ffeacc;
}

.popover-header+.popover-body {
	padding: 6px 14px 8px;
}

.popover-header {
	padding: 8px 14px 0;
}

.bs-popover-auto[x-placement^="left"] .arrow::after,
.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after,
.bs-popover-right .arrow::after {
	border-left-color: #ffeacc;
	border-right-color: #ffeacc;
}

.bs-popover-auto[x-placement^="top"] .arrow::after,
.bs-popover-top .arrow::after {
	border-top-color: #ffeacc;
}

.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.bs-popover-bottom .arrow::after {
	border-bottom-color: #ffeacc;
}

/* Popper styling - STOP */

/* Custom styling */

/* select2 - START */

/* indent items levels - START */
.select2-results__option>.l1 {
	font-weight: 700;
}

/* indent items levels - START */
.select2-results__option>.l2 {
	padding-left: 1.5rem;
	font-weight: 400;
}

.select2-results__option>.l3 {
	padding-left: 3rem;
	font-weight: 400;
}

/* indent items levels - STOP */

#select2-search-within-org-results>.select2-results__option:nth-child(odd) {
	background-color: #f5f5f5;
	color: #212529;
}

#select2-search-within-org-results>.select2-results__option:nth-child(odd):hover {
	background-color: #007d7b;
	color: #fff;
}

/* .filter-search-within-org.filter-changed>.select2-selection__clear {
	color: #a2958a;
	margin: 0 .5em 0 0 !important;
}

.alert_here,
.filter-search-within-org.alert_here,
.filter-search-within-org.alert_here>.select2-selection__clear {
	background-color: #00615e;
	color: #f1edea;
} */

.select2-container--default .select2-selection--single .select2-selection__clear {
	float: none;
}

.select2-selection--single,
.select2-selection--multiple {
	border: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: inherit;
	height: 2.25rem;
}

.select2-selection--single .select2-selection__rendered,
.select2-selection--multiple .select2-selection__rendered {
	margin: 0 2em 0 0 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #007d7b;
	color: #fff;
}

.select2-container {
	background-color: #fafafa;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.select2-container--disabled .select2-selection__rendered {
	background-color: #e9ecef;
}

/* .select2-container--disabled .select2-selection__arrow b {
	display: none;
} */

.select2-selection--single,
.select2-selection--multiple,
.select2-search__field {
	background-color: transparent;
	display: block;
	color: #495057;
	font-size: 1rem;
	height: 1.5rem !important;
	line-height: inherit;
	margin: 0;
	width: 100%;
}

.select2-selection--single {
	height: 2.3rem !important
}

.select2-search.select2-search--inline {
	padding: 0 .25rem;
	width: 100%;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default.select2-container .select2-selection--multiple {
	border: 1px solid #e9ecef;
	height: 2.25rem !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #56a3a2;
	box-shadow: 0 0 0 .2rem #d4e8e7;
}

.select2-selection__rendered,
.select2-search__field,
.select2-container .select2-selection--multiple {
	background-color: #fafafa;
	border-radius: .25rem;
	position: relative;
	width: 100% !important;
}

.select2-container .select2-selection--multiple {
	border: 1px solid #e9ecef;
	display: table;
	margin: -1px !important;
	width: calc(100% + 4px) !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #495057;
	font-style: italic;
}

.select2-container .select2-selection--single .select2-selection__clear,
.select2-container .select2-selection--multiple .select2-selection__clear {
	color: #372a1c;
	font-size: 1.5em;
	line-height: 1.25;
	padding: 0 .2em;
	top: .15em;
}

.select2-selection--single .select2-selection__placeholder,
.select2-selection--multiple .select2-selection__placeholder {
	color: #372a1c;
	background-color: inherit;
	display: inline-block;
	padding: .4rem 1.5rem .2rem .5rem;
}

/* .select2-container .select2-selection--single .select2-selection__rendered,
	.select2-container .select2-selection--multiple .select2-selection__rendered {
	padding: 0;
} */

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border: none;
	font-size: inherit;
	position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: #e9ecef;
	height: calc(100% - 2px);
	width: 2.25rem;
}

.select2-selection--multiple .select2-selection__choice {
	border: 1px solid #ced4da;
	background-color: #f1edea;
	border-radius: .3rem;
	color: #372a1c;
	padding: 0 0 0 .5rem;
	display: inline-block;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
	white-space: inherit;
	display: inline-block;
	height: auto;
}

.select2-selection--multiple .select2-selection__choice__remove {
	border-left: 1px solid #ced4da;
	color: #372a1c;
	float: right;
	margin: 0 -.5rem 0 .5rem;
	padding: 0 0 0 .5rem;
}

.select2-selection--multiple .select2-selection__choice__remove:hover {
	background-color: #f5f5f5;
}

.select2-container .select2-selection--single .select2-selection__arrow b,
.select2-container .select2-selection--multiple .select2-selection__arrow b {
	border-color: #a2958a transparent transparent;
	border-style: solid;
	border-width: 6px 6px 0;
}

.select2-container--disabled .select2-selection--single .select2-selection__arrow b,
.select2-container--disabled .select2-selection--multiple .select2-selection__arrow b {
	display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #a2958a;
	border-width: 0 6px 6px 6px;
}

/* select2 - STOP */

/* vue-multiselect - START */

.multiselect__placeholder {
	color: #495057;
	font-size: 1.1em;
	margin-bottom: inherit;
	padding-bottom: inherit;
	padding: 0 .5rem;
}

.multiselect__input,
.multiselect__single,
.multiselect__tags {
	background: #fafafa;
}

.multiselect__tags {
	padding: 6px 40px 0 4px;
	min-height: 2.75em;
}

.multiselect__option--highlight {
	background: #00615e;
}

.multiselect__option--selected.multiselect__option--highlight {
	background: #644e37;
	color: #fff;
}

.multiselect__option--selected.multiselect__option--highlight::after {
	background: #a2958a;
}

.multiselect__option--highlight::after {
	background: #007d7b;
	color: #dee2e6;
}

.multiselect__select {
	background: #dcd9d6;
}

.multiselect.multiselect--disabled>.multiselect__tags,
.multiselect.multiselect--disabled>.multiselect__tags>.multiselect__single {
	background: #e9ecef;
}

.multiselect.multiselect--disabled>.multiselect__select {
	background: #dcd9d6;
}

/* .multiselect__element {
	background: #fafafa;
} */

/* Custom styling, vue-multiselect - STOP */

/* Step Wizard - START */

.stepwizard-step p {
	margin: 1em 0;
}

.stepwizard-row {
	display: table-row;
}

.stepwizard {
	display: table;
	position: relative;
	text-align: center;
	width: 50%;
}

.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity 100) !important;
	/* For IE8 and earlier */
}

.stepwizard-row:before {
	top: 1rem;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
}

.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}

.setup-content {
	min-height: 20vh;
}

.focus {
	outline: 1px dotted #dc3545;
	padding: .5em 1em;
	border-radius: .5em;
}

.highlight-brush {
	background: url(../images/brush-stroke-banner-2.png);
	background-position: center 60%;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 2.5em;
}

/* Step Wizard - STOP */

/* Only prototype - START */

.prototype-subtle-message {
	color: #00615e;
	font-size: .5em;
	opacity: .5;
}

.mock-message-popover .popover-body,
.mock-message-popover .popover-header,
.mock-message-note {
	background-color: #ffe3ff;
}

.mock-message-popover.bs-popover-auto[x-placement^="left"] .arrow::after,
.mock-message-popover.bs-popover-left .arrow::after,
.mock-message-popover.bs-popover-auto[x-placement^="right"] .arrow::after,
.mock-message-popover.bs-popover-right .arrow::after {
	border-left-color: #ffe3ff;
	border-right-color: #ffe3ff;
}

.mock-message-popover.bs-popover-auto[x-placement^="top"] .arrow::after,
.mock-message-popover.bs-popover-top .arrow::after {
	border-top-color: #ffe3ff;
}

.mock-message-popover.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.mock-message-popover.bs-popover-bottom .arrow::after {
	border-bottom-color: #ffe3ff;
}

.mock-message-note.toast {
	font-size: inherit;
}

.mock-message-note .toast-header {
	background-color: inherit;
}

.mock-message-note .text-primary {
	color: inherit !important;
}

#modal--create-new-object #create-new-person-pass,
#modal--create-new-object #create-new-person-befolkningsregister,
#modal--create-new-object #create-new-vardmedarbetaruppdrag {
	background-color: #ffe3ff;
	padding: .2em 0;
}

#passportExpireDateCalendar ul.list-unstyled {
	width: 16em;
}

#passportExpireDateCalendar .table.table-sm {
	text-align: center;
}

/* Only prototype - STOP */

/* Fade-In Effect */

.fade-2-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}

/* Fade-Out Effect */

.fade-2-hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

.post-it {
	font-size: 1.25em;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	transform: rotate(1deg);
	z-index: 1000;
}

.post-it:before,
.post-it:after {
	content: " ";
	position: absolute;
	z-index: 100;
}

.post-it:before {
	background: rgba(0, 0, 0, .3);
	bottom: 2px;
	left: 4px;
	max-height: 60px;
	max-width: 180px;
	height: 70%;
	width: 90%;
	-webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
	box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
	-webkit-transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
	-moz-transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
	-ms-transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
	-o-transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
	transform: skew(-8deg, -2deg) rotate(-1deg) translate3d(0, 0, 0);
}

.post-it:after {
	background: rgba(0, 0, 0, .1);
	height: 30%;
	max-height: 30px;
	max-width: 60px;
	right: 1px;
	top: 0;
	width: 30%;
	-webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
	-ms-box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
	-webkit-transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
	-moz-transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
	-ms-transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
	-o-transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
	transform: skew(-10deg, -5deg) rotate(-1deg) translate3d(0, 0, 0);
}

.post-it .inner {
	padding: 10px;
	/* min-height: 100px; */
	background: #ffe3ff;
	z-index: 1000;
	position: relative;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

.post-it .inner>a {
	color: #00615e;
}

#prototype-message-placeholder {
	/*dim the background*/
	background-color: rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: .8em;
	height: 100%;
	overflow: hidden;
	position: fixed;
	/* pointer-events: none; */
	left: 0;
	line-height: 1.25;
	top: 0;
	width: 100%;
	z-index: 1025;
}

#prototype-hint-placeholder pre {
	transform: rotate(-10deg);
}

.pushpin {
	background: url(../../assets/images/misc/pin-2033400.png) no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	display: block;
	width: 3em;
	height: 3em;
	margin: -1em auto;
}

/* Only prototype - STOP */

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
xs = Extra small <576px
sm = Small ≥576px
md = Medium ≥768px
lg = Large ≥992px
xl = Extra large ≥1200px
*/

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Mobile first */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
	#top-nav-wrapper>.navbar-nav {
		margin-left: -50px;
	}
	#top-nav-auto-log-out>.nav-link {
		border: 1px solid #aad1d0;
		min-height: 2.5em;
		padding: 0 1em;
	}
	#top-nav-auto-log-out>.nav-link>span {
		font-size: .7em;
		line-height: .2em;
	}
}

/* Desktop first */

@media (max-width: 1199.98px) {
	.navbar-dark .navbar-nav .nav-link {
		background-color: #56a3a2;
		border-bottom: 1px solid #007d7b;
		border-radius: 0;
		/* color: inherit; */
	}

	.navbar-dark .navbar-nav .nav-addon-item {
		background-color: #56a3a2;
		color: #f8f7f5;
		padding: .5em 0;
	}

	.nav-addon-item .nav-link {
		border: none !important;
	}

	#top-nav-wrapper {
		max-width: inherit;
	}

	/* Hide sidebar on tablet and below
	.sidebar-border, #sidebar-left {
		display: none;
	} */

	/* Make sidebar overlap main-content on tablet and below */
	#sidebar-left {
		/* pointer-events: none; */
		position: fixed;
		z-index: 1;
		border-radius: 0 0 .5em 0;
	}

	.sidebar-border {
		position: fixed;
	}

	#sidebar-left ul.components {
		padding: 0;
	}

	#main-content-wrapper {
		left: 1.5em;
		position: absolute;
		width: 90vw;
		z-index: 0;
	}

	.sidebar-left-toggle>.toggle-sidebar.opened {
		position: absolute;
		z-index: 1;
	}
}

@media (max-width: 991.98px) {

	.modal-backdrop {
		display: none;
	}

}

@media (max-width: 767.98px) {

	.result-1-tab>a,
	.result-2-tab>a,
	.result-3-tab>a {
		font-weight: 400;
		padding: .5em .5em .5em 2.25em;
	}

	.stepwizard {
		width: 100%;
	}

}

@media (max-width: 575.98px) {
	.card-text.col-sm-6.text-right {
		text-align: inherit !important
	}
}
