body {
	background-color: #f8f7f5;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.1em;
	overflow: hidden;
}

/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 100%;
}