<div class="row no-gutters justify-content-center fade-2-visible">
	<div class="align-items-center d-flex justify-content-center" id="prototype-message-placeholder">
		<div class="post-it">
			<div class="inner p-4">
				<i class="pushpin"></i>
				<h3><a href="#" data-toggle="modal" data-target="#prototype-message">Om den här prototypen...</a></h3>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="prototype-message">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">HSA – ny teknisk plattform</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Stäng">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- <p>One fine body&hellip;</p> -->
				<p>Här kan man få en försmak av hur HSA:s grafiska gränssnitt kan komma att se ut framöver.</p>
				<p>Ambitionen med prototypen har varit att kunna visa design och funktionalitet innan den är implementerad i produktionsmiljön. Prototypen har också legat till grund för diskussioner och förslag. Förslagen har kunnat utvärderas av riktiga användare innan de har ansetts tillräckligt färdiga för produktion.</p>
				<p>Nuvarande version är uppbygd i HTML utan databas. Den innehåller ingen känslig data eftersom alla uppgifter är påhittade.</p>
				<p>Utöver HTML5, JavaScript och CSS har responsiv design (kallas även flexibel layout) skapats med hjälp av ramverket Twitter Bootstrap. Dessutom är mycket interaktivitet framtagen med jQuery och andra tredjepartsbibliotek.</p>
			</div>
		</div>
	</div>
</div>
