<div class="modal right fade" id="prototype-settings">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Ställ in prototypen</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Stäng">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" name="checkboxAminRights" id="checkboxAminRights">
						Administratörsrättigheter
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" name="checkboxReqSettings" id="checkboxReqSettings">
						Visa referens till krav
					</label>
				</div>
				<div id="show-cookie-disclaimer-toggle"><a href="#" class="show-cookie-disclaimer">Visa cookie-meddelande</a></div>
				<hr>
				<div><a href="#" id="start-logout-timer-2min">Automatisk utloggning (2 min)</a></div>
				<div><a href="#" id="start-logout-timer-5s">Simulera utloggning, 5 sek kvar</a></div>
			</div>
		</div>
	</div>
</div>
